<h1>Listing micro_posts</h1>

<table>
  <thead>
    <tr>
      <th>Micro post</th>
      <th>User name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @micro_posts.each do |micro_post| %>
      <tr>
        <td><%= micro_post.micro_post %></td>
        <td><%= micro_post.user_name %></td>
        <td><%= link_to 'Show', micro_post %></td>
        <td><%= link_to 'Edit', edit_micro_post_path(micro_post) %></td>
        <td><%= link_to 'Destroy', micro_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Micro post', new_micro_post_path %>
